---
import Card from "./CardIns.astro"
---
<style>
    #Clientes{
        cursor: -webkit-grab;
    }
    .slider-container::-webkit-scrollbar {
      display: none;
    }
</style>
<section  class="my-12 md:mx-20 mx-4 text-white">
    <h2 class="text-center font-bold text-3xl mb-3 mx-4">Nuestros Clientes</h2>
    <p class="text-center text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur fuga</p>
    <div id="Clientes" class=" flex relative my-5 overflow-x-auto slider-container">
        <div class="flex slider" data-aos="fade-left">
            <Card logo="/public/icon/dsec.webp" foto="/public/img/detalles.webp" url="https://www.instagram.com/detalles_y_sentimientos_ec/" alt="detalles y sentimientos" name="Detalles & Sentimientos" idname="@detalles_y_sentimientos_ec"/>
            <Card logo="/public/icon/jr.webp" foto="/public/img/juniordj.webp" url="https://www.instagram.com/juniordj_oficial/" alt="juniordj" name="Junior Dj" idname="@juniordj_oficial"/>
            <Card logo="/public/icon/cap.webp" foto="/public/img/CapExpres.webp" url="https://www.facebook.com/capexpres" alt="capexpres" name="Cap Expres" idname="@capexpres"/>
        </div>
    </div>
</section>
