---
import { Image } from "astro:assets";
import Navbar from "./Navbar.astro";
import 'animate.css';
import AOS from "aos";

export function aosInit() {
  AOS.init();
}
---
<section>
  <Navbar />
  <article ddata-aos="fade-up" id="Inicio" class="grid grid-cols-1 md:grid-cols-2 h-full lg:mx-20  sm:my-6 mx-8 sm:mx-20 justify-center items-center gap-2">
    <article class="text-left md:mt-0 mt-28">
      <h1 class="text-white font-bold md:text-3xl text-2xl">
        La Importancia de Integrar un Plan de Marketing Digital en tu Empresa
      </h1>
      <p class="text-gray-400 mt-4 md:my-10  md:text-lg text-base">En el mundo digital actual, un plan de marketing es esencial para el éxito empresarial. Desde mejorar la visibilidad hasta alcanzar nuevos clientes, su implementación estratégica puede marcar la diferencia entre el estancamiento y el crecimiento. Descubre cómo puede impulsar tu empresa hacia el éxito.
      </p>
      <div class="my-6 text-center md:text-left">
        <a href="https://api.whatsapp.com/send?phone=593992516051&text=Deseo%20saber%20mas%20informacion%20sobre%20sus%20planes"><button class="relative md:px-16 px-12 py-2 bg-transpatent text-white text-lg isolation-auto z-10 border-2 rounded-full border-[#DB3F29]
        before:absolute before:w-full before:transition-all before:duration-500 before:hover:w-full before:-right-full before:hover:right-0 before:rounded-full  before:bg-[#DB3F29] before:-z-10  before:aspect-square before:hover:scale-150 overflow-hidden before:hover:duration-700">Contactanos</button></a>
      </div>
    </article>
    <picture class="flex justify-center items-center ">
      <Image
        class="flex items-center"
        src="/img/prueba1.svg"
        alt="servicios"
        loading="eager"
        width="450"
        height="50"
      />
    </picture>
  </article>
</section>
