<nav class="w-full h-20">
    <div class="flex md:relative lg:mx-20 mx-3 py-2 h-full justify-between flex-wrap items-center p-4">
        <picture>
           <img class="md:h-10 h-12" src="/public/icon/logo.svg" alt="Logo Style Mark"/>
        </picture>
        <button
          data-collapse-toggle="navbar-solid-bg"
          type="button"
          class="inline-flex p-2 w-10 h-10 justify-end text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400"
          aria-controls="navbar-solid-bg"
          aria-expanded="false"
        >
          <span><ion-icon name="menu-outline" class="h-6 w-6"></ion-icon></span>
        
        </button>
        <div class="text-white md:flex hidden">
            <ul class="flex relative">
                <li class="mx-5"><a href="#Inicio">Inicio</a></li>
                <li class="mx-5"><a href="#Nosotros">Nosotros</a></li>
                <li class="mx-5"><a href="#Servicios">Servicios</a></li>
                <li class="mx-5"><a href="#Clientes">Clientes</a></li>
                <li class="mx-5"><a href="">Contactos</a></li>
            </ul>
        </div>
        <div class="text-white md:flex hidden">
            <ul class="flex relative">
                <li class="mx-2"><a href="https://www.instagram.com/stylemark_ec/" aria-label="Facebook" ><ion-icon name="logo-facebook"  class="h-6 w-6 text-white"></ion-icon></a></li>
                <li class="mx-2"><a href="https://www.facebook.com/stylemarkec" aria-label="Instagram" ><ion-icon name="logo-instagram" class="h-6 w-6 text-white"></ion-icon></a></li>
            </ul>
        </div>
    </div>
</nav>
