<section id="Nosotros" class="my-2 md:my-9 m-4 py-10 ">
    <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 md:mx-20 mx-2 gap-5 ">
        <article class="grid grid-cols-2 lg:gap-4 md:g- gap-2 grid-rows-1">
            <div class="bg-[#DB3F29] text-[#13151a] grid place-items-end  h-[250px] ">
                <h2 class="font-bold text-start m-2 md:text-3xl text-2xl" data-aos="fade-down-right">Nosotros</h2>
            </div>
            <picture class="bg-[#202741] h-[250px] relative"  style="background-image: url('/img/sobrenosotros.webp'); background-position: right top;  ">
            </picture>
            <picture class="bg-[#202741] h-[250px] col-span-2 relative" style="background-image: url('/img/sobrenosotros.webp'); background-position: right bottom;">
            </picture>
        </article>
        <article >
          <div>
           <h1  class="text-2xl text-white md:my-6 ">¿Por que seleecionar nuestra Agencia?</h1>
          <p class="text-gray-400 text-justify md:text-lg text-base">En Style Mark, nuestra historia se remonta a 2022, cuando un grupo de apasionados del marketing decidió unir fuerzas para ofrecer soluciones digitales innovadoras. Desde entonces, nos hemos dedicado a ayudar a empresas de todos los tamaños a alcanzar sus objetivos en línea. Nuestro enfoque centrado en el cliente y nuestra pasión por la excelencia nos han llevado a convertirnos en líderes en el campo del marketing digital. Con un equipo de expertos en diseño web, SEO, redes sociales y más, estamos aquí para impulsar el éxito de tu negocio en el mundo digital.</p>
          </div>
        </article>
    </div>
</section>