---
import Card from "./Card.astro"
---
<section id="Servicios">
    <div class="md:mx-20 mx-5  bg-white p-8 rounded-xl">
        <h2 class="text-center font-bold text-3xl m-2 text-[#13151a] mb-3">Nuestros Servicios</h2>
        <p class="text-center md:text-lg text-base">En Style Mark, nos enorgullece ofrecer una amplia gama de servicios diseñados para impulsar el éxito de tu negocio en el mundo digital. Desde estrategias de marketing digital hasta desarrollo web y gestión de redes sociales, nuestros servicios están diseñados para satisfacer todas tus necesidades en línea</p>
        <div class="grid sm:grid-cols-1 grid-cols-1 lg:grid-cols-2 grid-rows-3 gap-3 items-center justify-center md:m-7 m-4">
            <Card title="Creación de Contenido" body="Desde artículos persuasivos hasta contenido en redes sociales, creamos materiales que cautivan a tu audiencia y reflejan la esencia de tu marca." icono="rocket-outline"/>
            <Card title="Diseño de Marca" body="Diseñamos identidades visuales únicas que destacan tu marca en un mercado saturado, desde logotipos hasta paletas de colores." icono="storefront-outline"/>
            <Card title="Desarrollo aplicaciones Web" body="Construimos sitios web profesionales y funcionales que destacan la singularidad de tu marca y proporcionan una experiencia óptima para los visitantes." icono="terminal-outline"/>
            <Card title="Desarrollo aplicaciones moviles" body="Creamos aplicaciones móviles personalizadas que ofrecen experiencias fluidas y atractivas para tus usuarios, impulsando la interacción y la fidelidad." icono="phone-portrait-outline"/>
            <Card title="Creación Campañas en redes sociales" body="Diseñamos estrategias de marketing integrales que aumentan la visibilidad de tu marca, generan leads de calidad y fomentan la participación del público objetivo." icono="podium-outline"/>
        </div>
    </div>
    
</section>