---
import Card from "./Card.astro"
---
<section id="Servicios">
    <div class="mx-20 bg-white p-8 rounded-xl">
        <h2 class="text-center font-bold text-3xl text-[#13151a] mb-3">Nuestros Servicios</h2>
        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, corrupti nulla! Dolores atque est reprehenderit, vero eius natus enim dolorem quisquam, cum, temporibus iusto laudantium nam hic fugit distinctio debitis?</p>
        <div class="grid grid-cols-2 grid-rows-3 gap-3 items-center justify-center m-7">
            <Card title="Creaci칩n de Contenido" body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, corrupti nulla! Dolores atque est reprehenderit, vero eius natus enim dolorem quisquam, cum, temporibus iusto laudantium nam hic fugit distinctio debitis?" icono="rocket-outline"/>
            <Card title="Dise침o de Marca" body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, corrupti nulla! Dolores atque est reprehenderit, vero eius natus enim dolorem quisquam, cum, temporibus iusto laudantium nam hic fugit distinctio debitis?" icono="storefront-outline"/>
            <Card title="Desarrollo aplicaciones Web" body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, corrupti nulla! Dolores atque est reprehenderit, vero eius natus enim dolorem quisquam, cum, temporibus iusto laudantium nam hic fugit distinctio debitis?" icono="terminal-outline"/>
            <Card title="Desarrollo aplicaciones moviles" body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, corrupti nulla! Dolores atque est reprehenderit, vero eius natus enim dolorem quisquam, cum, temporibus iusto laudantium nam hic fugit distinctio debitis?" icono="phone-portrait-outline"/>
            <Card title="Creaci칩n Campa침as en redes sociales" body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, corrupti nulla! Dolores atque est reprehenderit, vero eius natus enim dolorem quisquam, cum, temporibus iusto laudantium nam hic fugit distinctio debitis?" icono="podium-outline"/>
        </div>
    </div>
    
</section>